/* 입력 필드 */
input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: black; /* 글자 색을 검정으로 설정 */
}

/* 버튼 스타일 */
button {
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  color: black; /* 버튼 텍스트 색을 검정으로 설정 */
}

/* 취소 버튼 */
.cancel-btn {
  background: white;
  color: #2c3e50; /* 취소 버튼 색은 그대로 두고 */
  border: 1px solid #2c3e50;
  margin-right: 10px;
}

.cancel-btn:hover {
  background: #f2f2f2;
  color: black; /* 취소 버튼 호버 시 글자색 검정 */
}

/* 저장 버튼 */
.save-btn {
  background: #2c3e50;
  color: white; /* 저장 버튼 글자색은 그대로 두고 */
  border: none;
}

.save-btn:hover {
  background: #1a252f;
}

/* 모달 헤더 */
.modal-header {
  background-color: #2c3e50; /* 네이비 */
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 토글 스위치 */
.toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  color: black; /* 토글 텍스트 색 검정 */
}
/* 기본 스타일 초기화 */
input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: #000000; /* 아이콘의 배경색을 원하는 색으로 */
  color: #fff; /* 아이콘의 색을 흰색으로 */
  border-radius: 50%; /* 아이콘을 동그랗게 만듦 */
  border: none;
}

/* IE 스타일 수정 */
input[type="date"]::-ms-clear {
  display: none;
}
