.FactoryWrapper {
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 8px 20px 20px;
  color: black;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  overflow: hidden;
}
